{% extends 'layout.html' %}
{% block content %}

{% include 'navbar.html'%}

<div class = "container mt-5 ">
    <div class = "row">
        <div class="col-md-6" id="b_image">
            <img src ="{{url_for('static',filename='images/'+ product.image_1)}}" alt ="{{product.name}}" width ="400" height="400">
        </div>
        <div class="col-md-6">
            <h4> Product Name: {{ product.name }}</h4>
            <hr>
            <p>product price: ${{ product.price}}</p>
            {% if product.discount > 0 %}
            <p> Product Discount: {{ product.discount}}%</p>
            {% endif %}
            <hr>
            <b>Product Discription</b>
            <p>{{product.desc}}</p>
            <hr>
            <form action="{{url_for('AddCart')}}" method="POST">
                <input type ="hidden" name ="product_id" value="{{product.id}}">
                <button type="submit" class ="btn btn-sm btn-warning">Add Cart</button>
                <label for="">Quantity</label>
                <input type = "number" name = "quantity" id="" value="1" min="1" max="{{product.stock}}">
                {% set colors = product.colors.split(',') %}
                <label for ="colors">Colors:</label>
                <select name="color" id="">
                    {% for color in colors %}

                    {% set col = color.split(':')%}
                    <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                    {% endfor %}
                </select>

            
            </form>
           
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="s_image">
            <hr>
            <img src = "{{url_for('static', filename='images/'+ product.image_1)}}" alt="{{product.name}}" width="120" height="120"
            class="p-3">
            <img src = "{{url_for('static', filename='images/'+ product.image_2)}}" alt="{{product.name}}" width="120" height="120"
            class="p-3">
            <img src = "{{url_for('static', filename='images/'+ product.image_3)}}" alt="{{product.name}}" width="120" height="120"
            class="p-3">

        </div>
    </div>
</div>

<script>
    var b_image = document.getElementById('b_image');
    var s_image = document.getElementById('s_image').getElementsByTagName('img');
    for(var i =0; i< s_image.length; i++){
        s_image[i].addEventListener('click', full_image);
    }

    function full_image(){
        var ImageSRC = this.getAttribute('src');
        b_image.innerHTML="<img src = " + ImageSRC + " width='400' height='400'>";
    }

    
    </script>




<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Company name
                    </h6>
                    <p>
                        Here you can use rows and columns to organize your footer content. Lorem ipsum
                        dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Products
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Angular</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">React</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Vue</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Laravel</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Pricing</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Settings</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Orders</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Help</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contact
                    </h6>
                    <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        info@example.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                    <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

{% endblock content %}